<launch>	
	<include file="$(find spinnaker_sdk_camera_driver)/launch/right_cam.launch">
		<arg name="binning" 		value="1"/>
		<arg name="color" 		value="true"/>
		<arg name="exposure_time" 	value="0" />
		<arg name="target_grey_value"	value="0"/>
		<arg name="frames"		value="3400"/>
		<arg name="live"		value="false"/>
		<arg name="live_grid"		value="false"/>
		<arg name="output"		value="screen"/>
		<arg name="save"		value="false"/>
		<arg name="save_path"		value="~"/>
		<arg name="soft_framerate"	value="30"/>
		<arg name="time"		value="false"/>
		<arg name="to_ros"		value="true"/>
		<arg name="utstamps"		value="true"/>
		<arg name="max_rate_save"	value="false"/>
		<arg name="config_file"		value="$(find spinnaker_sdk_camera_driver)/params/loco_rt.yaml"/>
	</include>

    </launch>
